<div class="masterHeader">
    @*<img class="headerIdsrv" src="@Url.Content("~/Content/images/LogoHeader_03.jpg")" alt="Logo" />*@
    <div class="headerleft">
        <div class="headerlogo1"><img src="@Url.Content("~/Content/images/Logo_withTag.jpg")" alt="logo" /></div>
   </div>
    <div class="headerright">
        <div class="headerlogo2"><img src="@Url.Content("~/Content/images/puzzleglobe_header.jpg")" alt="logo" /></div>
    </div>
     @* <h2 class="masterHeaderText">@ViewBag.SiteName</h2>*@
</div>
